#dont upload the logs - too heavy
drone_application/logs/

#dont upload movie files
flight_videos/
*.mkv
*.mp4

#dont upload swap files
*.swp

#from tum_simulator gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.*~
